.card {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
}

.card-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.card-content {
  padding: 12px;
}

.card-title {
  font-size: 1.1rem;
  margin: 0 0 6px 0;
  align-items: start;
}

.card-meta {
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
  color: #666;
}

.card-category {
    border-radius: 1rem;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    background-color: beige;
    font-weight: bold;
    position: absolute;
    top: 0.25rem;
    left: 0.25rem;
}